{% extends "Base.html" %}
{% load custom_tags %}


{% block container %}
<div
  class="p-4 rounded text-white mt-5 d-flex justify-content-center"
  style="background-color: rgb(2, 0, 26)"
>
  <form
    action=""
    method="post"
    class="form-group p-4 border rounded w-50 mt-3 mb-3"
    style="border-color: #caf438; background-color: #001925; color: white"
  >
    {% csrf_token %}
    <h2 class="text-center mb-4">Cliente</h2>
    {% for field in form %}
        <h5 class="text-center"> {{ field.label }} </h5>
          {% if field.name == 'estado' %}
          <div class="form-check d-flex justify-content-center">
                 <input
                type="checkbox"
                name="{{ field.name }}"
                id="{{ field.id_for_label }}"
                value="true" 
                class="form-check-input bg-dark text-white"
                {% if field.initial %}checked{% endif %}  
              />
            </div>
          {% elif field.name == 'abono' %}
            <input
            type="{{ field.field.widget.input_type }}"
            name="{{ field.name }}"
            id="{{ field.id_for_label }}"
            value="{{ field.initial|replace }}"
            class="form-control bg-dark text-white"
            /> 
          {% else %}
            <input
            type="{{ field.field.widget.input_type }}"
            name="{{ field.name }}"
            id="{{ field.id_for_label }}"
            value="{{ field.initial }}"
            class="form-control bg-dark text-white"
            /> 
        {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary mt-4"> Guardar</button>
    </form>
</div>
{% endblock container %}